# Python
__pycache__/
*.pyc
venv/

# Environment
.env

# IDE
.vscode/

# Uploads
uploads/

# Node
node_modules/

# Build
dist/
.env
*.env

backend/venv/
backend/__pycache__/
frontend/node_modules/
frontend/dist/

*.pyc
__pycache__/

resume_screening.db
uploads/